<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaServlet</servlet-name>
        <servlet-class>br.com.calenderx.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendaResponse</servlet-name>
        <servlet-class>br.com.calenderx.AgendaResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaServlet</servlet-name>
        <url-pattern>/AgendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendaResponse</servlet-name>
        <url-pattern>/AgendaResponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <env-entry>
        <env-entry-name>server</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>servidor</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>db</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>calenderx</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>user</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>root</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>master@2012</env-entry-value>
    </env-entry>    
</web-app>
